<section class="hero">
  <div class="hero__container">
   <img src="https://images.unsplash.com/photo-1603989872391-359eb0b42a58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" />
    <div class="hero__message">
      <h1 class="hero-title">
        En busca de algo diferente?...Bienvenido a Pintas Panama.
      </h1>

      <p class="subtitle">
        La primera tienda on-line 100% dedicada a las Pintas Artesanales de Panama.
      </p>
    </div>
  </div>
</section>
